@use "config/mixins";
@use "config/variables";
@use "base/base";
//@import "layout/layout";
//@import "theme/theme";

// Components
@use "components/header";
@use "components/hero";
@use "components/main";
@use "components/features";
@use "components/footer";



// Layout
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}





