footer.footer
    .footer-content
        .footer-section
            h3 Modern Pug Template
            p A modern and flexible template for your web projects
        .footer-section
            h3 Links
            ul
                li: a(href="/") Home
                li: a(href="/about") About
                li: a(href="/contact") Contact
        .footer-section
            h3 Connect
            .social-links
                a(href="#" aria-label="GitHub")
                    i.fab.fa-github
                a(href="#" aria-label="Twitter")
                    i.fab.fa-twitter
    .footer-bottom
        p &copy; #{new Date().getFullYear()} Modern Pug Template. All rights reserved. 