@use "/src/styles/config/variables" as *;

// Aplico las reglas bases para los elementos html, como un reset

*,*::before,::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

// Base styles
body {
  font-family: $font-family-base;
  font-size: $font-body-base;
  color: $text-color;
  line-height: $line-height-base;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  &:focus, &:active, &:visited {
    color: inherit;
  }
}


/* bodylayout */
body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px 1fr 100px;
}

header {
  grid-column: 1/ span 12;
}

main {
  grid-column: 1/ span 12;
}

footer {
  grid-column: 1/ span 12;
}